#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photograph-photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    overflow-clip-margin: inherit;
}
.photograph-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.photograph-information h1{
    font-size: 60PX;
    font-weight: 400;
    color: #D3573C;
    margin: 0px ;
    padding: 0px 0px 10px 0px;
}
.photograph-information h2{
    color: #901C1C;
    font-size: 24PX;
    font-weight: 400;
    margin: 0px;
    padding: 0px 0px 8px 0px;
}
.photograph-information p{
    color: #525252;
    font-size: 18PX;
    font-weight: 400;
    margin: 0px;
    padding: 7px 0px;
}

.contact_button, .envoyer_button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 45px;
}
.media-section{
    margin: 0px 100px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 350PX);
    gap: 25px;   
}
.media-img,  .media-video{
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.media-title{
    display: flex;
    justify-content: space-between;
     /* align-items: center; */
}
.media-likes{
    display: flex;
    align-items: center;
}
.media-likes i{
    color: #901C1C;
    padding: 8px;
}
.title, .likes{
    color: #901C1C;
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
}
.title{
    width: 280px;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: relative;
    top: 33px;
}
#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #C4C4C466;
  }
.modal header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 180px;
}

.modal header img {
    cursor: pointer;
    padding-top: 20px;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin: 0px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}
form textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 5px;
    font-size: 30px;
}
form span{
    color: #FAFAFA;
    font-size: 25px;
}
.ErrPrenom{
    display: none;
}
.ErrNom{
    display: none;
}
.ErrEmail{
    display: none;
}
.ErrMessage{
    display: none;
}
.encart-likes{
    background-color: #DB8876;
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 380px;
    height: 89px;
    position: fixed;
    z-index: 1;
    right: 25px;
    bottom: -15px;
    border-radius: 5px;
}
.encart-likes div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.encart-likes p, i {
    font-size: 24px;
    font-weight: 500;
    color: black;
}
/*********************** section trier par  */
.sort-section{
    display: flex;
    align-items: center;
    gap: 25px;
}
.sort-section p{
    font-size: 18px;
    font-weight: 700;
    margin-left: 100px;
}
.sort-section select{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #901C1C;
    margin: 15px 0px;
    width: 180px;
    border-radius: 5px;
}
.sort-section option{
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: #901C1C;
    width: 180px;
    border-radius: 5px;
}
/*********************** section lightbox  */
.lightbox{
    position: fixed;
    top: 0px;
    left : 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    display: none;
}
.lightbox_next{
    position: absolute;
    background-color: white;
    border: none;
    top: 40%;
    right: 20px;
    width: 50px;
    height: 100px;
}
.lightbox_prev{
    position: absolute;
    background-color: white;
    border: none;
    top: 40%;
    left: 20px;
    width: 50px;
    height: 100px;
}
.lightbox_close{
    position: absolute;
    background-color: white;
    border: none;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
}
.button_lightbox{
    color: #901C1C;
    font-size: 40px;
}
.lightbox_img_container{
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 20px;
}
.lightbox_img , .lightbox_video{
   max-width: 85%;
   max-height: 88%;
   object-fit: contain;
   object-position: center;
}
.lightbox_description{
    font-size: 24px;
    font-weight: 400;
    color: #901C1C;
    position: absolute;
    left: 80px;
    bottom: 11px;
}
